<!-- {{first_name}} {{last_name}} -->
<div id="{{first_name}}{{last_name}}" class="card">
  <div class="row no-gutters">
    <div class="col-sm-5">
      <img src="/public/image/members/{{first_name}}{{last_name}}.jpg" class="card-img"
        alt="{{first_name}}{{last_name}}">
    </div>

    <div class="col-sm-7">
      <div class="card-body">
        <p class="h3 card-title">{{first_name}} {{last_name}}</p>
        <p class="card-text">{{title}}</p>
        <p class="card-text">Contact: <a href="mailto:{{email}}">{{email}}</a></p>
      </div>
    </div>

    <div class="col-12">
      <div class="card-header mt-1">
        <ul class="nav nav-tabs card-header-tap" id="nav-tabs-{{toLowerCase first_name}}{{toLowerCase last_name}}"
          role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-edu-epl-tab"
              data-toggle="tab" href="#{{toLowerCase first_name}}{{toLowerCase last_name}}-edu-epl" role="tab"
              aria-controls="{{toLowerCase first_name}}{{toLowerCase last_name}}-edu-epl" aria-selected="true">Education
              & Employment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-research-areas-tab"
              data-toggle="tab" href="#{{toLowerCase first_name}}{{toLowerCase last_name}}-research-areas" role="tab"
              aria-controls="{{toLowerCase first_name}}{{toLowerCase last_name}}-research-areas"
              aria-selected="false">Major Research Area</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-curr-proj-tab" data-toggle="tab"
              href="#{{toLowerCase first_name}}{{toLowerCase last_name}}-curr-proj" role="tab"
              aria-controls="{{toLowerCase first_name}}{{toLowerCase last_name}}-curr-proj"
              aria-selected="false">Current Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-major-publications-tab"
              data-toggle="tab" href="#{{toLowerCase first_name}}{{toLowerCase last_name}}-major-publications"
              role="tab" aria-controls="{{toLowerCase first_name}}{{toLowerCase last_name}}-major-publications"
              aria-selected="false">Major Publication</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-tab-content">
          <div class="tab-pane fade show active" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-edu-epl"
            role="tabpanel" aria-labelledby="{{toLowerCase first_name}}{{toLowerCase last_name}}-edu-epl-tab">
            <ul>
              <li>
                Facilisi etiam risus bibendum felis arcu morbi elit sed, leo et commodo euismod donec inceptos penatibus
                metus inceptos integer pellentesque.
              </li>
              <li>
                Pretium pulvinar tristique platea nisi faucibus velit nostra posuere eros lorem nostra sapien vitae
                consectetur ligula suspendisse arcu primis a.
              </li>
              <li>
                Morbi, tortor faucibus feugiat facilisis iaculis nullam cubilia dapibus dui orci metus pulvinar nunc mi
                libero risus duis odio potenti.
              </li>
              <li>
                Penatibus at ultrices magna est lacus at mollis torquent bibendum a faucibus suscipit facilisi commodo
                fusce tristique eros facilisi est.
              </li>
              <li>
                Nec ullamcorper iaculis sit facilisis molestie feugiat penatibus ligula, sociosqu metus primis orci
                pretium tristique ultrices accumsan cum fermentum ligula.
              </li>
              <li>
                Justo porta at ligula ultricies neque mus arcu suspendisse praesent pretium id nunc natoque suscipit
                eros, egestas mi ornare dui.
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-research-areas"
            role="tabpanel" aria-labelledby="{{toLowerCase first_name}}{{toLowerCase last_name}}-research-areas-tab">
            <ul>
              <li>
                Ut elementum erat a laoreet sociis congue pulvinar laoreet vitae.
              </li>
              <li>
                Maecenas venenatis facilisis sit ridiculus lacus per magna metus venenatis.
              </li>
              <li>
                Nam dolor semper cubilia massa volutpat, taciti eleifend tortor etiam.
              </li>
              <li>
                Egestas quisque bibendum luctus penatibus ante ante, lacus donec rutrum.
              </li>
              <li>
                Ac inceptos hac fusce dis diam elementum donec vestibulum imperdiet.
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-curr-proj" role="tabpanel"
            aria-labelledby="{{toLowerCase first_name}}{{toLowerCase last_name}}-curr-proj-tab">
            <ul>
              <li>
                Et tincidunt curabitur, blandit luctus amet nibh torquent vehicula ridiculus sagittis dolor mi dolor
                nisi arcu ullamcorper class dis porttitor.
              </li>
              <li>
                Suspendisse faucibus placerat egestas augue ultricies etiam et sodales consectetur sollicitudin vitae
                netus pulvinar proin natoque, platea netus pellentesque ullamcorper.
              </li>
              <li>
                Odio mi eget arcu hendrerit et nec vel nascetur velit feugiat venenatis ut ornare montes pellentesque
                nunc porta fames luctus.
              </li>
              <li>
                Interdum a lacus, leo id fermentum metus dis litora scelerisque volutpat mi nullam conubia etiam per
                mattis mus urna ultricies.
              </li>
              <li>
                Vitae gravida aenean himenaeos aenean ornare mollis semper pharetra curae; senectus risus fames nunc
                himenaeos ut hendrerit at elit fames!
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="{{toLowerCase first_name}}{{toLowerCase last_name}}-major-publications"
            role="tabpanel"
            aria-labelledby="{{toLowerCase first_name}}{{toLowerCase last_name}}-major-publications-tab">
            <p>
              Imperdiet erat donec ante imperdiet libero proin consectetur ad. Sociosqu ad curae; vivamus cubilia
              faucibus lacus penatibus faucibus tortor fringilla nisi. Ullamcorper libero per auctor eu potenti libero
              sit semper nullam! Lacinia suscipit lectus gravida felis, eget arcu class fusce gravida mollis sociosqu.
              Feugiat ipsum lacinia at pharetra mattis eget nisl ultrices. In orci quis integer eleifend pretium!
              Himenaeos taciti diam.
            </p>
            <p>
              Etiam fames ridiculus vestibulum malesuada velit penatibus. Sodales consectetur, ac consequat potenti
              nisi. Eu accumsan pellentesque, pretium maecenas dui netus platea dui conubia arcu. Mi tincidunt nec ante
              morbi id duis purus. Phasellus porttitor adipiscing ornare lacus egestas. Penatibus viverra nulla laoreet
              est cubilia. Tempus in elementum vestibulum class. Porta amet semper laoreet ac elementum mauris? Magna mi
              platea at pretium ut cum eros parturient.
            </p>
            <a name="{{toLowerCase first_name}}{{toLowerCase last_name}}-all-publi-link"
              id="{{toLowerCase first_name}}{{toLowerCase last_name}}-all-publi-link" class="btn btn-light border"
              href="/publications#{{first_name}}{{last_name}}" role="button">See all publications</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>